@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background: linear-gradient(90deg, #9B3EC9 0%, #F82331 100%);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

/* --------------Hero Section---------------- */



 .glass {
  background: rgba(255, 255, 255, 0.45);
  padding: 1em;
  width: 90vw;
  min-height: 90vh;
  position: relative;
  top: 50px;
  margin: auto;
  border-radius: 45px;
  overflow: hidden;
  backdrop-filter: blur(15px);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px clamp(10px, 10vw, 40px);
}

 nav h1 {
  font-size: 2rem;
  color: blueviolet;
  transition: 0.4s;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
}

 nav h1:hover {
  letter-spacing: 6px;
}

 nav ul {
  display: flex;
  align-items: center;
}

 nav ul li {
  margin: 1em 0.5em;
  font-size: 1em;
  list-style-type: none;
}

 nav ul li a {
  text-decoration: none;
  padding: 0.2em 0.5em;
  color: black;
  transition: 0.2s;
}

 nav ul li a:hover {
  letter-spacing: 1px;
  color: blueviolet;
}

 nav ul li a.active {
  color: blueviolet;
}

#info {
  padding: 10px clamp(10px, 10vw, 40px);
  display: flex;
  align-items: center;
  gap: 1rem;
}

 #info h2 {
  color: blueviolet;
  font-size: 3em;
}

 #info h1 {
  color: red;
  font-size: 4em;
}

 #info p {
  display: block;
  width: 80%;
  color: rebeccapurple;
  line-height: 110%;
  font-weight: normal;
  font-size: 1.5rem;
}

 #info #hire_me {
  display: block;
  max-width: 8rem;
  color: white;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  border-radius: 0.5em;
  text-decoration: none;
  background: linear-gradient(266.11deg, #775ADA 5.37%, #434AF4 99.07%);
  padding: 0.4em 0.8em;
  text-align: center;
  margin-top: 1rem;
}

 #info #hire_me:hover {
  color: rgb(0, 0, 0);
  transition: 0.4s;
}

.user_img {
  max-width: 30em;
}

 #info p span {
  font-weight: bolder;
  color: rgb(132, 0, 255);
  transition: 1s;
  margin-top: 0.5rem;
}

 #info p span:hover {
  letter-spacing: 2px;
}

.circle {
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  z-index: -1;
}

.top-left {
  top: 100PX;
  left: 3%;
  background: linear-gradient(90deg, #eb3349 0%, #f47d43 100%);
}

.top-right {
  top: 200PX;
  right: 3%;
  background: linear-gradient(90deg, #0052d4 0%, #4364f7 50%, #6fb1fc 100%);
}

.hepta {
  position: absolute;
  top: 100PX;
  left: 50%;
  width: 8rem;
  height: 8rem;
  background: linear-gradient(90deg, #19d400 0%, #ecdd0a 100%);
  z-index: -1;
  clip-path: polygon( 50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.star {
  position: absolute;
  top: 550PX;
  left: 60%;
  width: 12rem;
  height: 12rem;
  background: linear-gradient(90deg, #0052d4 0%, #4364f7 50%, #6fb1fc 100%);
  z-index: -1;
  clip-path: polygon( 50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.frame {
  position: absolute;
  top: 550PX;
  left: 15%;
  width: 12rem;
  height: 12rem;
  background: linear-gradient(90deg, #da22ff 0%, #9733ee 100%);
  z-index: -1;
  clip-path: polygon( 0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}

.commonShape {
  position: absolute;
  width: 40vw;
  height: 40vw;
  border-radius: 1rem;
  border: 2px solid #FFF;
  background: #ffffff59;
  transform: rotate(45deg);
  box-shadow: 0 10px 12px -5px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.element-1 {
  top: 5%;
  right: -25%;
}

.element-2 {
  top: 27%;
  left: -25%;
}

.element-3 {
  top: 48%;
  right: -25%;
}

.element-4 {
  top: 75%;
  left: -25%;
}

/* ------------------Media Query ( RESPONSIVENESS ) ---------------------- */

/* --------------------------  section two  ------------------------------ */

.story {
  margin-top: 5rem;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  display: inline-block;
  position: relative;
}

.story h1 {
  text-align: center;
  color: white;
  margin: 1em;
}

.story .para {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1em;
  font-size: 1.3em;
  background: rgba(255, 255, 255, 0.8);
  margin: 1em;
  width: 70%;
  filter: drop-shadow(-23px -11px 58px rgba(0, 0, 0, 0.2));
}

.story #left {
  float: left;
}

.story #right {
  float: right;
}

/* ---------------  contact me section  ------------------ */

.titleBox {
  margin: 20px;
  color: #fff;
}

.contactme {
  display: flex;
  margin: 100px;
  gap: 8rem;
  align-items: self-start;
}

.contactme .box{
  color: #220096;
  background: rgba(255, 255, 255, 0.37);
  padding: 20px;
  font-size: 2.5em;
  border: 2px solid #fff;
  flex: 40%;
}

.form_contact {
  flex: 60%;
}

.input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.322);
  border: none;
  outline: none;
  padding: 10px 20px;
  border: 2px solid rgba(255, 255, 255, 0.911);
  font-size: 1.5em;
  margin-bottom: 1rem;
  min-height: 2rem;
  color: #FFF;
  font-family: "Poppins", sans-serif;
}

.submitBtn {
  border: 2px solid #FFF;
  border-radius: 0;
  outline: none;
  background: rgba(255, 255, 255, 0.459);
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 16rem;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 35px 10px;
}

.footer img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer p {
  z-index: 10;
}

/* media queries  */
@media only screen and (max-width: 1015px) {
  #info {
    flex-direction: column;
    text-align: center;
  }

   #info p {
    width: 100%;
  }

  .info_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user_img {
    width: 100%;
  }

  .box {
    display: none;
  }

  .contactme {
    margin: 40px;
  }
}

@media only screen and (max-width: 700px) {
  nav h1 {
    font-size: 1.5em;
  }

   nav ul li a {
     font-size: 0.7em;
  }

  .star {
    display: none;
  }
  
  .story .para {
    font-size: 1rem;
  }

  .footer {
    padding: 15px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .story .para {
    font-size: 0.8rem;
  }
  
  .footer {
    padding: 5px 10px;
  }

  .footer p {
    font-size: 0.6rem;
  }
}
