@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {

}

/* --------------Hero Section---------------- */

header {
    background: linear-gradient(64.07deg, #775ADA 18.6%, #FF0000 97.55%);
    height: 600px;
    display: inline-block;
}

header .glass {
        background: rgba(255,255,255,.45);
        margin: 2em;
        padding: 1em;
        border-radius: 2em;
}

header nav h1 {
    font-size: 2rem;
    padding:1em 0em 0em 1.5em;
    font-family: 'Sail', cursive;
    letter-spacing: 2px;
    color:blueviolet;
}

header nav ul {
    display: flex;
    position: absolute;
    right: 5em;
    top: 3em;
}

header nav ul li {
    margin: 1em .5em;
    font-size: 1em;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    padding:.2em .5em;
    color: black;
}

header nav ul li a:hover {
    color:blueviolet;
}

header nav ul li a.active {
    color:blueviolet;
}

header #info h2 {
    color: blueviolet;
    margin: 0.2em 0em 0em 1.6em;
    font-size: 3em;
    font-family:cursive;
}

header #info h1 {
    color: red  ;
    margin: -.3em 0em 0em 1.1em;
    font-size: 4em;
    font-family:cursive;
    letter-spacing: .1em;
}

header #info p {
    font-size: 1.3em;
    color: rebeccapurple;
    font-weight: bold ;
    margin-left: 3.3em;
    margin-top: .5  em;
    width: 50%;
    text-transform: capitalize;
}

header #info #hire_me {
    color: white;
    font-size: 1.2em;
    letter-spacing: .1em;
    border-radius: .6em;
    text-decoration: none;
    background-color:rgb(43, 61, 226);
    padding:.1em .5emrgb(46, 43, 226);
    margin:1em 3.3em ;
    /* position: relative;
    top:.5em;
    left:3.5em; */
    padding:.4em .8em;
    display: inline-block;
}

header #info #hire_me:hover {
   background-color:rgba(0, 0, 0, 0);
   color:blueviolet ;
   transition: .4s;
}

header img {
    max-width:27em;
    width: 33%;
    position: absolute;
    top: 6.6em;
    right: 3em;
}

/* ------------------Media Query ( RESPONSIVENESS ) ---------------------- */
