@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(64.07deg, #775ada 18.6%, #ff0000 97.55%);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

/* --------------Hero Section---------------- */

header {
  height: 100vh;
  display: block;
}

header .glass {
  background: rgba(255, 255, 255, 0.45);
  margin: 2em 3em;
  padding: 1em;
  border-radius: 2em;
  min-height: 88vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px clamp(10px, 10vw, 40px);
}

header nav h1 {
  font-size: 2rem;
  font-family: 'Sail', cursive;
  letter-spacing: 2px;
  color: blueviolet;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  margin: 1em 0.5em;
  font-size: 1em;
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  padding: 0.2em 0.5em;
  color: black;
}

header nav ul li a:hover {
  color: blueviolet;
}

header nav ul li a.active {
  color: blueviolet;
}

#info {
  padding: 10px clamp(10px, 10vw, 40px);
  display: flex;
  align-items: center;
  gap: 1rem;
}

header #info h2 {
  color: blueviolet;
  font-size: 3em;
}

header #info h1 {
  color: red;
  font-size: 4em;
}

header #info p {
  display: block;
  width: 80%;
  color: rebeccapurple;
  font-weight: normal;
  font-size: 1rem;
  margin-block: 1rem;
}

header #info #hire_me {
  display: block;
  max-width: 6rem;
  color: white;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  border-radius: 0.6em;
  text-decoration: none;
  background-color: rgb(43, 61, 226);
  padding: 0.4em 0.8em;
  text-align: center;
  margin-top: 1rem;
}

.user_img {
  max-width: 30em;
}

header #info #hire_me:hover {
  background-color: rgba(0, 0, 0, 0);
  color: blueviolet;
  transition: 0.4s;
}

/* ------------------Media Query ( RESPONSIVENESS ) ---------------------- */
